@import url(https://fonts.googleapis.com/css2?family=Ultra&family=Urbanist&family=Roboto);
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body { 
	font-family: 'Ultra', serif;
	font-family: 'Urbanist', sans-serif;
	font-size: 18px ;
	margin: 0px;
	background-color: #fcfffc;
	}

	h1 {
		font-family: 'Ultra', sans-serif;
		font-family: 'Urbanist', sans-serif;
		font-size: 60px;
	}

h2, h3 {
	font-family: 'Roboto', sans-serif ;
	font-weight: bolder;
	color: #0003028c;
}

a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif ;
}

a:hover{
	cursor: pointer;
	background-color:darkgreen;
	color:white;
}
